{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>RAMTEJAJAKKA LOGIN</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"><link rel="stylesheet" href="{% static 'login/style.css' %}">
<link rel="stylesheet" href="{% static 'trading/login/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Form-->
<div class="form" >
    <div class="form-toggle">

    </div>
            <div class="form-panel one">
                    <div class="form-header">
                        <h1>Account Login</h1>
                    </div>
                        <div class="form-content" >
                                <form action="login" method="post">
                                    {% csrf_token %}
                                        <div class="form-group">
                                          {% csrf_token %}
                                              <label for="username">Username</label>
                                              <input type="text" id="username" name="login_user_name" />
                                        </div>
                                        <div class="form-group">
                                          {% csrf_token %}
                                              <label for="password">Password</label>
                                              <input type="password" id="password" name="login_password"/>
                                        </div>
                                        <div class="form-group">
                                          {% csrf_token %}
                                              <label class="form-remember">
                                                <input type="checkbox"/>Remember Me
                                              </label><a class="form-recovery" href="password_reset">Forgot Password?</a>
                                        </div>
                                        <div class="form-group">
                                          {% csrf_token %}
                                          <button type="submit">Log In</button>
                                        </div>
                                        <div class="form-group">
                                          {% csrf_token %}
                                           <a class="form-recovery" href="register">Register</a>
                                            <a class="form-recovery" href="http://127.0.0.1:8000/trading/portfolio">back</a>
                                        </div>
                                         <div class="form-header">
                                            {% for message in messages %}
                                            <h1>{{message}}</h1>
                                            {% endfor %}
                                        </div>
                                </form>
                        </div>
            </div>
</div>


<!-- partial -->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="https://codepen.io/andytran/pen/vLmRVp.js"></script><script  src="{% static 'login/script.js' %}"></script>-->


</body>
</html>

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="login" method="post">-->
<!--        {%csrf_token %}-->
<!--            <input type="text" name="user_name" placeholder="username">-->
<!--            <input type="password" name="1password" placeholder="1password">-->
<!--            <input type="password" name="c_password" placeholder="2password">-->
<!--            <input type="email" name="email" placeholder="email">-->
<!--            <input type="submit">-->

<!--    </form>-->

<!--</body>-->
<!--</html>-->