{% extends 'trading/nav_bar.html'%}

{% block content %}
       {% load static %}
            <div id="content" class="site-content">
                <article>
                    {% for data in data %}
                    <div class="content-1330 center-relative">
                        <div class="page-desc">
                            {{data.main_trading_base_main_heading}}
                        </div>
                        </div>
                    <div class="clear"></div>

                    {% endfor %}
                </article>
            </div>
{% endblock %}