{% extends 'trading_bot/navbar/navbar.html' %}

{% block content %}
    {% load static %}

        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to ramtejajakka.com</h1>
                    <p> u have landed on this page to know who i am and what i am good at so u can download my
                        resuma by clicking the below botton so what are u waiting for click it and know about me
                                </p>
                    <p><a class="btn btn-primary btn-lg" href="resumadownload" role="button">resume</a></p>
            </div>
        </div>

{% endblock %}

