{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta charset="UTF-8">
    <title>socket2</title>
</head>
<body>
<div id="this_class"><input type="text" id="mytext"></div>

<!--table2-->
<table style="width:50% " align="center" id="yourTable">
    <tr>
        <th>Months</th>
        <th>January</th>
        <th>February</th>
    </tr>
    {% for i in data123 %}
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    {% endfor %}
</table>

</body>
<script src="{% static 'chart_room/reconnecting-websocket.js' %}"></script>


<script>
    var hello = [0];
    let socket = new ReconnectingWebSocket('ws://localhost:8000/ws/trading_bot/stock_data/');
    socket.onopen =function(e){
        alert('Connection established');
    };

    socket.onmessage = function(e){
        var recData=JSON.parse(e.data);
        var newHello = recData['value']['value'][1]['ohlc']['open']
<!--        console.log(newHello);-->

<!--input        -->

        var test = newHello;
        document.getElementById("mytext").value = test;

<!--table2-->

        var fuckHello = {
        0:[11,2,3],1:[41,5,6],2:[7,18,9],3:[10,111,12],4:[10,11,2]
        }
        var contentTable = ['instrument_token','volume','last_price']


        Object.size = function(obj) {
            var size = 0, key;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
            }
            return size;
        };

        var tableLength = Object.size(recData['value']['value']);
        var tabelWidth = Object.size(contentTable);

        var jelly = fuckHello[1][2]
        console.log(tableLength);

        var rows = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162]

<!--        console.log(rows);-->


        var yourTable = document.getElementById("yourTable");
        for (i = 0; i < tableLength; i++){
            for (j = 0; j < tabelWidth; j++){
<!--                console.log(fuckHello[i][j]);-->
                yourTable.rows[rows[i]].cells[j].textContent = recData['value']['value'][i][contentTable[j]];
            }

        }

    };

    socket.onclose = function(e){
        alert('Connection CLosed');
    };



    </script>
</html>
