{% extends 'trading_bot/navbar/navbar.html' %}

{% block content %}
    {% load static %}

        <div class="container">
            <div class="jumbotron">
                <h1>Thank you</h1>
                    <p>
                        u can download from the below link
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{% static './main/index/resume/resume.pdf'  %}"
                           role="button" target="_blank">resume</a>
                    </p>
            </div>
        </div>

{% endblock %}